  <div class="auto-tag">
    <div class="tag jot-move ros">ROS</div>
    <div class="tag jot-move sh">SH</div>
    <div class="tag jot-move fh">FH</div>
    <div class="tag jot-move all">ALL</div>
    <div class="tag jot-move meds">MEDS</div>
    <div class="tag jot-move psh">PSH</div>
    <div class="tag jot-move pmh">PMH</div>
    <div class="tag jot-move hpi">HPI</div>
    <div class="tag jot-move cc">CC</div>
    <div class="tag jot-move pt">PT</div>
    <div class="tag jot-move jot">JOT</div>
    <div class="jot-move heading">TAG:</div>
  </div>

