

  <div class="display">
    <div class="todo-content"></div>
    <span class="todo-destroy"></span>
    <div class="moves">
      <div class="todo-move ros">ROS</div>
      <div class="todo-move sh">SH</div>
      <div class="todo-move fh">FH</div>
      <div class="todo-move all">ALL</div>
      <div class="todo-move meds">MEDS</div>
      <div class="todo-move psh">PSH</div>
      <div class="todo-move pmh">PMH</div>
      <div class="todo-move hpi">HPI</div>
      <div class="todo-move cc">CC</div>
      <div class="todo-move pt">PT</div>
      <div class="todo-move jot">JOT</div>
    </div>
  </div>
  <div class="edit">
    <input class="todo-input" type="text" value="" />
  </div>

