

  <div class="display">
    <span class='context'>&nbsp;</span>
    <div class="jot-content"></div>
    <span class="jot-destroy"></span>
    <div class="moves">
      <div class="jot-move ros">ROS</div>
      <div class="jot-move sh">SH</div>
      <div class="jot-move fh">FH</div>
      <div class="jot-move all">ALL</div>
      <div class="jot-move meds">MEDS</div>
      <div class="jot-move psh">PSH</div>
      <div class="jot-move pmh">PMH</div>
      <div class="jot-move hpi">HPI</div>
      <div class="jot-move cc">CC</div>
      <div class="jot-move pt">PT</div>
      <div class="jot-move jot">JOT</div>
    </div>
  </div>
  <div class="edit">
    <input class="jot-input" type="text" value="" />
  </div>

