

 
    <div id="center-app"> 
      <!-- Todo App Interface --> 
      <div id="todoapp"> 
 
        <div class="title"> 
          <h1>Med Jot</h1> 
          <span id="help"><b>?</b></span> 
        </div> 
 
        <div class="content"> 
 
          <div id="create-todo"> 
            <input id="new-todo" placeholder="Jot whatever you like." type="text" /> 
            <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span> 
          </div> 
          <div id="current-destination"> 
          </div> 
 
          <div class="details pt-container"></div> 
          <div class="details cc-container"></div> 
          <div class="details hpi-container"></div> 
          <div class="details pmh-container"></div> 
          <div class="details psh-container"></div> 
          <div class="details meds-container"></div> 
          <div class="details all-container"></div> 
          <div class="details sh-container"></div> 
          <div class="details fh-container"></div> 
 
          <div class="details ros-container"></div> 
        </div> 
 
        <div id="todos"> 
          <div id="jots" class="section-title"> 
            <h3>Jots<span class="tag">JOT</span></h3> 
          </div> 
          <ul class="jot-list jot undefined"></ul> 
        </div> 
 
        <div id="todo-stats"></div> 
 
      </div> 
 
    <div id="history"> 
      <div class="history-content"></div> 
    </div> 
    </div> 

